# /render.yaml

services:
  # --- バックエンドサービス (Python) ---
  - type: web
    name: backend
    env: docker
    # pythonアプリがあるディレクトリ
    dockerContext: ./login_normal
    # pythonアプリのDockerfile
    dockerfilePath: ./login_normal/Dockerfile
    # 無料枠を指定
    plan: free 
    envVars:
      - key: PORT
        value: 8000 # DockerfileのCMDと一致

  # --- フロントエンドサービス (Next.js) ---
  - type: web
    name: frontend
    env: docker
    # Next.jsアプリがあるディレクトリ (ルート)
    dockerContext: .
    # Next.jsアプリのDockerfile (ルート)
    dockerfilePath: ./Dockerfile
    # 無料枠を指定
    plan: free
    envVars:
      - key: PORT
        value: 3000 # DockerfileのCMDと一致
      
      # クライアントサイド用 (use client)
      - key: NEXT_PUBLIC_API_URL
        value: http://backend:8000
        
      # サーバーサイド用 (page.tsx)
      - key: BACKEND_ROOT_URL
        value: http://backend:8000